.messenger-error ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.messenger-error {
    margin-bottom: 0;
    margin-top: 20px;
}
.content_table{
    padding: 0 40px;
}
.bg-gradient-primary {
    background-color: #009fb4 !important;
    background-image: inherit !important;
}
table.dataTable thead th, table.dataTable thead td ,
table.dataTable.no-footer{
    border-bottom: 1px solid #e3e6f0 !important;
}
span.required {
    color: #dd1416;
}
table td i:hover{
    opacity: 0.8;
}
.sidebar-dark .nav-item .nav-link:hover{
    opacity: 0.8;
}
.submit_custom_color {
    color: #fff !important;
    background-color: #009fb4 !important;
    border-color: #009fb4 !important;
    opacity: 0.9 !important;
    border-width: 1.2px;
}
.submit_custom_color:hover {
    opacity: 1 !important;
    color: #009fb4 !important;
    background-color: #ffffff !important;
}
table td i{
    color: #009fb4;
}
.mr_form{
    margin-bottom: 15px;
}
input::placeholder,textarea::placeholder{
    color: #cccccc !important;
}
.load_ajax{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(169,170,171,0.4);
    text-align: center;
    height: 100%;
    z-index: 9999;
}
.load_ajax img{
    top: 35%;
    position: absolute;
}
.bt_search{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#filter,#filter_epc,#filter_location{
    margin-right: 10px;
}
.search_advanced{
    margin-bottom: 40px;
}
button.dt-button.buttons-excel.buttons-html5:hover {
    opacity: 1 !important;
    color: #34393d !important;
    background-color: #ffffff !important;
    background-image: none;
}
button.dt-button.buttons-excel.buttons-html5 {
    color: #fff !important;
    background-color: #009fb4 !important;
    border-color: #009fb4 !important;
    opacity: 0.9 !important;
    background-image: none;
}
.card.box-reports {
    margin-bottom: 40px;
    background: #009fb4;
    border: 1px solid #009fb4;
}
.card.box-reports:hover{
    background: #ffffff;
}
.card.box-reports:hover a{
    color: #2a2e31;
}
.card.box-reports a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.title-page {
    margin-bottom: 30px;
}
body .dataTables_wrapper .dataTables_paginate .paginate_button.current,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #009fb4;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #009fb4));
    background: -webkit-linear-gradient(top, #fff 0%, #009fb4 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #009fb4 0%, #009fb4 100%);
}
body .dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 30px;
    padding: 3px 11px;
}
body .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #2a2e31;
    outline: none;
    border-radius: 4px;
}
.title-page-ls{
    margin-bottom: 20px;
}
input.form-control.bulk {
    height: 100%;
}
.file-example{
    text-decoration: none !important;
    color: #009fb4;
}
i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400 ,
.topbar.navbar-light .navbar-nav .nav-item .nav-link{
    color: #009fb4 !important;
}
h2{
    font-size: 30px !important;
}
.topbar .dropdown-item:active {
    color: #3a3b45;
    background-color: transparent;
}
body.page-login {
    background-color: #f1f1f1;
}
.form-login .card-body {
    border-left: 1px solid #cccccc;
    padding-right: 0;
    padding-left: 30px;
}
.form-login {
    margin-top: 25% !important;
    box-shadow: 0 0 5px #cccccc;
    background: #ffffff;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 45px 25px;
    width: 100%;
}
.form-login  .form-control {
    height: 46px;
}
.logo-login{
    width: 250px;
}
.form-login .col-md-5 {
    display: flex;
    align-items: center;
}
.submit_custom_color_login {
    color: #fff !important;
    background-color: #df1416 !important;
    border-color: #df1416 !important;
    opacity: 0.9 !important;
    border-width: 1.2px;
    text-transform: uppercase;
}
.submit_custom_color_login:hover {
    opacity: 1 !important;
    color: #df1416 !important;
    background-color: #ffffff !important;
}
.icon-login{
    position: absolute;
    right: 20px;
    top: 13px;
}
.tow-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tow-button .submit_custom_color {
    margin: 0 5px !important;
    width: max-content;
    text-transform: uppercase;
    text-decoration: none;
}
.home-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-main img{
    opacity: 0.6;
}
.sidebar-dark .nav-item .nav-link {
    color: #ffffff !important;
}
.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgb(255 255 255);
    margin-bottom: 10px !important;
}
.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
    color: rgb(255 255 255);
}
.sidebar-dark .nav-item .nav-link i {
    color: rgb(255 255 255);
}
label {
    text-transform: uppercase;
    font-size: 14px !important;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
}
label.form-check-label.remember {
    text-transform: inherit;
}
.model_remove{
    padding: 25px;
}
.model_remove button.close {
    position: absolute;
    right: 15px;
    top: 10px;
    outline: none;
}
.model_remove h5{
    color: #000000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 5px 0;
}
.model_remove p {
    color: #000000;
    font-size: 18px;
    text-align: center;
}
.model_remove .modal-button button{
    width: 50%;
    float: left;
    border-radius: 0;
    outline: 0;
}
button.no {
    color: #fff !important;
    background-color: #009fb4 !important;
    border-color: #009fb4 !important;
    opacity: 0.9 !important;
    border-width: 1.2px;
    text-transform: uppercase;
}
button.no:hover {
    color: #009fb4 !important;
    background-color: #ffffff !important;
}
button.yes {
    color: #fff !important;
    background-color: #df1416 !important;
    border-color: #df1416 !important;
    opacity: 0.9 !important;
    border-width: 1.2px;
    text-transform: uppercase;
}
button.yes:hover {
    color: #df1416 !important;
    background-color: #ffffff !important;
}
